.container-1{
    display: grid;
    width: 90% !important;
    padding-top: 1.4rem;
    padding-left: 1rem; 
    grid-template-columns: 50% 50%;
}

.form-group label{
    font-size: 0.85rem;
}

/* Contenedor izquierdo */
.cont-izquierdo{
    margin-left: 8rem;
    
}

.form-group .no_orden{
    width: 5rem;
}

.form-group .proveedor {
    width: 24rem;
}

.proveedor{
    width: 24rem !important;
}

.form-group .forma_pago{
    width: 24rem;
}

.form-group .responsable{
    width: 24rem;
}
/* Contenedor derecho */
.cont-derecho{
    justify-content: end !important;
    margin-left: 6rem;
}

.form-group .fecha{
    width: 10rem;
}

.form-group .fecha_pago{
    width: 10rem;
}

.form-group .presupuesto{
    width: 13rem;
}

.container-table{
    padding-left: 4.6rem;
    width: 75vw;
}

.form-group .observaciones{
    width: 15rem;
}

.cantidad{
    width: 4rem !important;
}

.precio{
    width: 6rem !important;
}

.total{
    width: 6rem !important;
}

.numero{
    width: 4rem !important;
}

.descripcion2{
    width: 25rem !important;
}

.boton-enviar{
    padding-top: -5rem !important;
    padding-left: 46rem !important;
}

.boton-enviar input[type="submit"]{
    width: 15rem !important;
    height: 3rem !important;
}

.container-impuesto{
    display: flex;
    justify-content: space-around;
    margin-left: 6rem !important;
}

.container-impuesto .form-group{
    margin-left: 2rem;
}

.checkbox{
    width: 1.3rem !important;
    height: 1.3rem !important;
}

.subtotal{
    width: 5.6rem !important;
}





